.access-profile-container {
    text-align: right;
    margin-top: 15px;
    margin-right: 0.625rem;
}

.card-view-more  {
    color: var(--deep-teal)
}

.entity-page-tabs {
    display: flex;
}

.white-square {
    width: 100%;
    height: auto;
    background-color: var(--bg-color-f);
    position: relative;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.profile-entity-wrapper .agent-organizations {
    background-color: var(--white-color);
    height: auto;
    border-radius: 0.25rem;
}

.agent-organizations {
    padding: 2rem 1.25rem;
    box-shadow: 0 4px 8px 0 var(--box-shadow-color);
}

.agent-organization img {
    width: 2.5rem;
    height: 2.5rem;
    min-width: 2.5rem;
    border-radius: 50%;
    object-fit: cover;
}

.agent-organization {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 15px;
    color: var(--deep-teal);
    font-weight: 700;
    text-decoration: none;
}

.agent-public {
    display: flex;
    flex-direction: column;
    gap: 24px;
    background-color: var(--white-color);
    min-height: 35.625rem;
    padding: 1.875rem 1.25rem;
    border-radius: 4px;
    box-shadow: 0 4px 8px 0 var(--box-shadow-color);
}

.agent-public span {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 10px;
}

.agent-public-info {
    font-weight: 700;
    color: var(--goldenYellow);
}

.agent-public-info-p{
    font-weight: 700;
    color: var(--main-font-color);
}

.agent-perfil-description {
    margin-top: 8px;
    max-width: 95rem;
}

.agent-social-media {
    background-color: var(--white-color);
    margin-top: 1.875rem;
    padding: 1.875rem 1.531rem;
    box-shadow: 0 4px 8px 0 var(--box-shadow-color);
    border-radius: 4px;
}

.agent-social-media .social-media-title,
.connection-title{
    font-weight: 700;
    font-size: 18px;
}

.social-media-wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 33%;
}

.agent-connections {
    background-color: var(--white-color);
    margin-top: 30px;
    padding: 2rem 1.156rem;
    border-radius: 4px;
    box-shadow: 0 4px 8px 0 var(--box-shadow-color);
}

.connection-content img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.connection-content {
    display: flex;
    align-items: center;
    gap: 16px;
}

.connection-content a {
    text-decoration: none;
    font-weight: 700;
    color: var(--deep-teal);
    font-size: 18px;
}

.content-wrapper {
    width: 90%;
    margin-bottom: 30px;
}

.agent-events .content-wrapper {
    margin-bottom: 0;
}

.agent-profile-actions button {
    border: 2px solid var(--deep-teal);
    height: 3rem;
    border-radius: 8px;
    color: var(--deep-teal);
    font-weight: 700;
    min-width: 248px;
    transition: 0.3s;
}

.agent-profile-actions button:hover {
    background-color: var(--deep-teal);
    color: var(--white-color);
}

.agent-profile-actions button:first-child {
    width: 18.813rem;
}

.social-link {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-left: -3px;
    margin-top: 5px;
}

.agent-description {
    margin-top: 0.625rem;
    margin-left: 0;
    padding-left: 0;
}

.agent-location strong, .agent-area strong, .agent-type {
    margin-left: 0;
}

.agent-sub-area {
    margin-left: 0;
}

.agent-card-body {
    margin-left: 0.625rem;
}

@media (max-width: 768px) {
    .agent-card-header {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .agent-card-header img {
        width: 4rem;
        height: 4rem;
        margin: 0 0 10px 0;
    }

    .agent-info {
        flex-direction: column;
        gap: 5px;
    }

    .agent-card-body {
        padding: 10px;
    }

    .agent-card-body {
        margin-left: 0;
    }

    .access-profile-container {
        text-align: center;
        padding-right: 0;
        margin-right: 0;
    }

    .agent-profile-actions button,
    .agent-profile-actions button:first-child {
        width: 100%;
        min-width: 0;
    }

}
